app/Core/_notes/dwsync.xml
_notes/dwsync.xml
app/Controllers/_notes/dwsync.xml
app/Helpers/Auth/_notes/dwsync.xml
app/views/auth/_notes/dwsync.xml
vendor/composer/_notes/dwsync.xml
vendor/_notes/dwsync.xml
app/Helpers/_notes/dwsync.xml
app/templates/default/js/_notes/dwsync.xml
app/views/welcome/_notes/dwsync.xml
app/templates/default/_notes/dwsync.xml
app/language/en/_notes/dwsync.xml
app/Models/_notes/dwsync.xml
app/Modules/Profile/Controllers/_notes/dwsync.xml
app/Modules/Profile/Models/_notes/dwsync.xml
app/Modules/Profile/views/_notes/dwsync.xml
app/templates/default/images/_notes/dwsync.xml
app/views/error/_notes/dwsync.xml
app/Modules/Profile/_notes/dwsync.xml
app/templates/default/css/_notes/dwsync.xml
app/Helpers/PhpMailer/_notes/dwsync.xml
app/language/cs/_notes/dwsync.xml
app/language/de/_notes/dwsync.xml
app/language/fr/_notes/dwsync.xml
app/language/it/_notes/dwsync.xml
app/language/nl/_notes/dwsync.xml
app/language/pl/_notes/dwsync.xml
app/language/ro/_notes/dwsync.xml
app/language/ru/_notes/dwsync.xml
app/Modules/_notes/dwsync.xml
app/Modules/AdminPanel/Controllers/_notes/dwsync.xml
app/Modules/AdminPanel/views/_notes/dwsync.xml